.icon-box {
  width: 90px;
  height: 90px;
  margin: 0 auto 8px;

  overflow: hidden;
  border-radius: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-logo {
  width: 120%;        /* mas malaki para maputol puti */
  height: 120%;

  object-fit: cover;

  transform: translate(-10%, -10%);  /* ito ang magtatanggal ng white edges */
}
